<!-- https://docs.mathjax.org/en/latest/options/input/tex.html#tex-options -->
<script>
    MathJax = {
        tex: {
            extensions: ['mhchem.js'],
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            displayMath: [['$$', '$$'], ["\\[", "\\]"]],
            processEscapes: true,
            processEnvironments: true
        },
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>